In [3]:
import pandas as pd

In [7]:
oly=pd.read_csv("Olympics.csv")

In [8]:
oly

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,32,Olav Augunson Aarnes,M,23,NaN,NaN,Norway,NOR,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's High Jump,NaN
96,33,Mika Lauri Aarnikka,M,24,187.0,76.0,Finland,FIN,1992 Summer,1992,Summer,Barcelona,Sailing,Sailing Men's Two Person Dinghy,NaN
97,33,Mika Lauri Aarnikka,M,28,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"""Athletics Men's 1,500 metres""",NaN
99,35,Dagfinn Sverre Aarskog,M,24,190.0,98.0,Norway,NOR,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
sel_colum=['name','medal']

In [10]:
oly_sel=oly[sel_colum]

In [11]:
print(oly_sel)

                                  name medal
0                            A Dijiang   NaN
1                             A Lamusi   NaN
2                  Gunnar Nielsen Aaby   NaN
3                 Edgar Lindenau Aabye  Gold
4             Christine Jacoba Aaftink   NaN
..                                 ...   ...
95                Olav Augunson Aarnes   NaN
96                 Mika Lauri Aarnikka   NaN
97                 Mika Lauri Aarnikka   NaN
98  Jamale (Djamel-) Aarrass (Ahrass-)   NaN
99              Dagfinn Sverre Aarskog   NaN

[100 rows x 2 columns]

In [12]:
oly.name.count()

100

In [13]:
oly.medal.value_counts()

medal
Gold      9
Bronze    8
Silver    4
Name: count, dtype: int64

In [15]:
gold_medal=oly[oly['medal']=='Gold']

In [18]:
print(gold_medal)

    id                       name sex  age  height  weight            team  \
3    4       Edgar Lindenau Aabye   M   34     NaN     NaN  Denmark/Sweden
42  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
44  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
48  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
60  20         Kjetil Andr Aamodt   M   20   176.0    85.0          Norway
73  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
76  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
78  20         Kjetil Andr Aamodt   M   34   176.0    85.0          Norway
79  21  Ragnhild Margrethe Aamodt   F   27   163.0     NaN          Norway

    noc        games  year  season            city          sport  \
3   DEN  1900 Summer  1900  Summer           Paris     Tug-Of-War
42  FIN  1948 Summer  1948  Summer          London     Gymnastics
44  FIN  1948 Summer  1948  Summer          London     Gymnastics
48  FIN  1948 Summer  1948  Summer          London     Gymnastics
60  NOR  1992 Winter  1992  Winter     Albertville  Alpine Skiing
73  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
76  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
78  NOR  2006 Winter  2006  Winter          Torino  Alpine Skiing
79  NOR  2008 Summer  2008  Summer         Beijing       Handball

                               event medal
3        Tug-Of-War Men's Tug-Of-War  Gold
42  Gymnastics Men's Team All-Around  Gold
44      Gymnastics Men's Horse Vault  Gold
48  Gymnastics Men's Pommelled Horse  Gold
60       Alpine Skiing Men's Super G  Gold
73       Alpine Skiing Men's Super G  Gold
76      Alpine Skiing Men's Combined  Gold
78       Alpine Skiing Men's Super G  Gold
79         Handball Women's Handball  Gold

In [19]:
silver_medal=oly[oly['medal']=='Silver']

In [20]:
silver_medal=silver_medal.sort_values(by='year')

In [21]:
silver_medal[['name','year']]

                  name  year
86    Alf Lied Aanning  1920
63  Kjetil Andr Aamodt  1994
67  Kjetil Andr Aamodt  1994
92    Pepijn Aardewijn  1996

In [22]:
medal_counts =oly.groupby(['city', 'medal']).size()
print(medal_counts)

city            medal
Albertville     Bronze    1
                Gold      1
Antwerpen       Bronze    2
                Silver    1
Atlanta         Silver    1
Beijing         Gold      1
Helsinki        Bronze    1
Lillehammer     Bronze    1
                Silver    2
London          Bronze    1
                Gold      3
Paris           Gold      1
Salt Lake City  Gold      2
Seoul           Bronze    1
Sochi           Bronze    1
Torino          Gold      1
dtype: int64

In [23]:
oly.describe()

               id         age      height      weight         year
count  100.000000  100.000000   84.000000   81.000000   100.000000
mean    16.240000   28.030000  178.630952   76.882716  1977.200000
std      8.274483    5.705668    7.029678   12.396388    28.651864
min      1.000000   17.000000  159.000000   55.500000  1900.000000
25%      7.000000   24.000000  175.000000   65.000000  1952.000000
50%     17.000000   28.000000  176.000000   75.000000  1992.000000
75%     20.000000   31.250000  185.000000   85.000000  1996.000000
max     35.000000   54.000000  190.000000  130.000000  2016.000000

In [24]:
gold_count = gold_medal.groupby('city')['medal'].count()
print(gold_count)

city
Albertville       1
Beijing           1
London            3
Paris             1
Salt Lake City    2
Torino            1
Name: medal, dtype: int64

In [25]:
countries_more_than_50_gold = gold_count[gold_count > 50]

In [26]:
countries_more_than_50_gold

Series([], Name: medal, dtype: int64)

In [ ]:
#There is no country with more than 50 medals

In [27]:

medal_counts = oly.groupby('name')['medal'].count()
print(medal_counts)
print('\n')
most_medals = medal_counts.idxmax()
total_medals = medal_counts.max()

print(f"The athlete who has won the most medals is {most_medals} with {total_medals} medals.")

name
A Dijiang                               0
A Lamusi                                0
Agnes Erika Aanonsen (-Eyde)            0
Alf Lied Aanning                        1
Andreea Aanei                           0
Antti Sami Aalto                        0
Arvo Ossian Aaltonen                    2
Christine Jacoba Aaftink                0
Cornelia \Cor\" Aalten (-Strannood)"    0
Dagfinn Sverre Aarskog                  0
Edgar Lindenau Aabye                    1
Einar Ferdinand \Einari\" Aalto"        0
Evald rma (rman-)                       0
Fritz Aanes                             0
Gunnar Nielsen Aaby                     0
Jamale (Djamel-) Aarrass (Ahrass-)      0
Jan-Erik Aarberg                        0
Johan Aantjes                           0
John Aalberg                            0
Jorma Ilmari Aalto                      0
Juhamatti Tapio Aaltonen                1
Jyri Tapani Aalto                       0
Kjetil Andr Aamodt                      8
Mika Lauri Aarnikka                     0
Minna Maarit Aalto                      0
Nils Egil Aaness                        0
Olav Augunson Aarnes                    0
Paavo Johannes Aaltonen                 5
Pepijn Aardewijn                        1
Per Knut Aaland                         0
Pirjo Hannele Aalto (Mattila-)          0
Ragnhild Margrethe Aamodt               1
Timo Antero Aaltonen                    0
Willemien Aardenburg                    1
Win Valdemar Aaltonen                   0
Name: medal, dtype: int64


The athlete who has won the most medals is Kjetil Andr Aamodt with 8 medals.

In [28]:
freestyle_events = oly[oly['event'].str.contains('Freestyle', case=False)]
print(freestyle_events['event'])

29    Swimming Men's 400 metres Freestyle
Name: event, dtype: object

In [29]:

athlete_medals = oly.groupby(['sport', 'name']).size().reset_index(name='medal_count')

# Sort by sport and medal_count in descending order
athlete_medals_sorted = athlete_medals.sort_values(by=['sport', 'medal_count'], ascending=[True, False])

# Get the top 3 athletes for each sport
top_3_athletes_by_sport = athlete_medals_sorted.groupby('sport').head(3)

print(top_3_athletes_by_sport)

                   sport                                  name  medal_count
0          Alpine Skiing                    Kjetil Andr Aamodt           20
1       Art Competitions                 Win Valdemar Aaltonen            1
2              Athletics  Cornelia \Cor\" Aalten (-Strannood)"            2
3              Athletics                     Evald rma (rman-)            1
4              Athletics    Jamale (Djamel-) Aarrass (Ahrass-)            1
7              Badminton                     Jyri Tapani Aalto            1
8             Basketball                             A Dijiang            1
9               Biathlon        Pirjo Hannele Aalto (Mattila-)            1
10             Bobsleigh                Dagfinn Sverre Aarskog            1
11  Cross Country Skiing                          John Aalberg            8
13  Cross Country Skiing                       Per Knut Aaland            8
12  Cross Country Skiing                    Jorma Ilmari Aalto            1
14              Football                   Gunnar Nielsen Aaby            1
16            Gymnastics               Paavo Johannes Aaltonen           16
15            Gymnastics                      Alf Lied Aanning            1
17              Handball             Ragnhild Margrethe Aamodt            1
18                Hockey                  Willemien Aardenburg            1
19            Ice Hockey                      Antti Sami Aalto            1
20            Ice Hockey              Juhamatti Tapio Aaltonen            1
21                  Judo                              A Lamusi            1
22                  Luge          Agnes Erika Aanonsen (-Eyde)            1
23                Rowing                      Pepijn Aardewijn            2
24               Sailing                      Jan-Erik Aarberg            2
25               Sailing                   Mika Lauri Aarnikka            2
26               Sailing                    Minna Maarit Aalto            2
27         Speed Skating              Christine Jacoba Aaftink            6
28         Speed Skating                      Nils Egil Aaness            3
29              Swimming                  Arvo Ossian Aaltonen            5
30              Swimming      Einar Ferdinand \Einari\" Aalto"            1
31            Tug-Of-War                  Edgar Lindenau Aabye            1
32            Water Polo                         Johan Aantjes            1
33         Weightlifting                         Andreea Aanei            1
34             Wrestling                           Fritz Aanes            2

In [30]:
athlete_medals_count = oly.groupby(['year', 'name'])['medal'].count().reset_index(name='Total_Medals')
athletes_more_than_one_medal = athlete_medals_count[athlete_medals_count['Total_Medals']>1]
print(athletes_more_than_one_medal[['year', 'name', 'Total_Medals']])

    year                     name  Total_Medals
4   1920     Arvo Ossian Aaltonen             2
9   1948  Paavo Johannes Aaltonen             4
25  1992       Kjetil Andr Aamodt             2
30  1994       Kjetil Andr Aamodt             3
44  2002       Kjetil Andr Aamodt             2

In [31]:
country_sport_counts = oly.groupby(['city', 'sport']).size().reset_index(name='MedalCount')
countries_medals_per_sport = country_sport_counts.groupby('city')['sport'].count()

countries_more_than_10_sports = countries_medals_per_sport[countries_medals_per_sport > 10]

if not countries_more_than_10_sports.empty:
    print("Countries that have won medals in more than 10 different sports:")
    print(countries_more_than_10_sports.index.tolist())
else:
    print("No country has won medals in more than 10 different sports.")

No country has won medals in more than 10 different sports.

In [32]:
athlete_medals_count = oly .groupby(['city', 'name'])['medal'].count().reset_index(name='Total_Medals')

average_medals_per_athlete = athlete_medals_count.groupby('city')['Total_Medals'].mean().reset_index(name='Average_Medals_Per_Athlete')

print(average_medals_per_athlete)

              city  Average_Medals_Per_Athlete
0      Albertville                    0.500000
1        Antwerpen                    1.000000
2           Athina                    0.000000
3          Atlanta                    0.333333
4        Barcelona                    0.000000
5          Beijing                    1.000000
6           Berlin                    0.000000
7          Calgary                    0.000000
8         Helsinki                    0.500000
9        Innsbruck                    0.000000
10     Lake Placid                    0.000000
11     Lillehammer                    0.600000
12          London                    1.000000
13     Los Angeles                    0.000000
14     Mexico City                    0.000000
15          Munich                    0.000000
16          Nagano                    0.000000
17           Paris                    0.500000
18  Rio de Janeiro                    0.000000
19  Salt Lake City                    1.000000
20        Sarajevo                    0.000000
21           Seoul                    1.000000
22           Sochi                    1.000000
23    Squaw Valley                    0.000000
24       Stockholm                    0.000000
25          Sydney                    0.000000
26          Torino                    1.000000